/* Header Start */

header{
    // margin: 0 10%;
    padding: 0 5%;
}
@mixin header_style{
    text-decoration: none;
    color: $header_font_color;
    font-size: $header_font_size;
    font-family: $header_font;
    font-weight: 400;
    
    @content;
}
@mixin header_icon(){
    button{
        @include header_style();
        outline: none;
        border: none;
        position: relative;
        cursor: pointer;
        // padding: 10px 20px;
        background-color: white;
        display: flex;
        align-items: center;
        @content;
        }
        img{
            height: 18px;
            margin-left: 5px;
        }
}
@mixin right_before_hover($right_class,$bottom,$width){
    .#{$right_class}:hover::before{
        display: flex;
        content: "";
        position: absolute;
        bottom: $bottom;
        width: $width;
        height: 2px;
        background-color: black;
    }
}

@mixin header_mobile_nav($top,$left){
content: "";
width: 8px;
height: 8px;
rotate: 45deg;
border-right: 1px solid black;
border-bottom: 1px solid black;
display: flex;
position: relative;
left: $left;
top: $top;
@content;
}
.main_head{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    @at-root{
        .header_left{
            display: flex;
            align-items: center;
            img{
                width: 110px;
                // padding: 0px 10px;
                margin-right: 25px;
            }
            @at-root{
                .left_navs{
                    display: flex;
                    li{
                        list-style: none;
                        padding: 10px 10px;
                        position: relative;
                        &:active{
                            outline: 1px dashed black;
                        }
                        
                        a{
                            @include header_style();
                            padding-bottom: 13px;
                            &:hover{
                                padding-bottom: 3px;
                                border-bottom: 2px solid black;
                            }
                        }
                    }
                }
            }
        }
    }
}
.header_right{
    display: flex;
    align-items: center;
    @at-root{
        .right_navs{
            display: flex;
            align-items: center;
            li{
                list-style: none;
                padding: 0 5px;
                @at-root{
                    .all_mic{
                        button{
                            @include header_style();
                            outline: none;
                            border: none;
                            position: relative;
                            cursor: pointer;
                            padding: 10px 20px 10px 0;
                            background-color: white;
                            
                            @at-root{
                                .arrow::after{
                                    position: absolute;
                                    margin: auto;
                                    top: 50%;
                                    right: 7px;
                                    bottom: 49%;
                                    content: "";
                                    width: 6px;
                                    height: 6px;
                                    transform: rotate(45deg);
                                    border-right: 1px solid black;
                                    border-bottom: 1px solid black;
                                }
                            }
                        }
                        &:active{ 
                            outline: 1px dashed black;
                        }
                    }
                }
                @include right_before_hover(btn_all,6px,75px);
                @at-root{
                    .head_search{
                        padding: 10px 2px;
                        @include header_icon();
                        
                        &:active{ 
                            outline: 1px dashed black;
                        }
                    }
                }
                @at-root{
                    .head_cart{
                        padding: 10px 2px;
                        @include header_icon(){
                            margin-left: 10px;
                        };
                        &:active{ 
                            outline: 1px dashed black;
                        }
                    }
                    @include right_before_hover(btn_ser,-3px,39px);
                }
                @at-root{
                    .head_profile{
                        padding: 5px 2px;
                        button{
                        @include header_style();
                        outline: none;
                        border: none;
                        position: relative;
                        cursor: pointer;
                        // padding: 10px 20px;
                        background-color: white;
                        display: flex;
                        align-items: center;
                        margin-left: 10px;
                        }
                        img{
                            height: 30px;
                            margin-left: 5px;
                            
                        }
                        &:active{ 
                            outline: 1px dashed black;
                        }
                    }
                    @include right_before_hover(btn_cart,-3px,27px);
                }
            }
        }
    }
}
.mob_search_c{
    cursor: pointer;
    width: 10px;
    height: 18px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 18px 28px 17px 10px;
    &:active{
        outline: 1px dashed black;
    }
    img{
        height: 18px;
        width: 18px;
    }
    
}
.mob_search{
    display: block;
}
.mob_search_hide{
    display: none;
}
.mob_nav{
    .mob_nav_li{
        width: 20px;
        height: 1px;
        background-color: black;
        margin: 5px;
        list-style: none;
    }
    margin-right: 5px;
    button{
        cursor: pointer;
        padding: 6px;
        border: none;
        background-color: transparent;
        &:active{
            outline: 1px dashed black;
        }
        .mob_navs{
        .mob_nav_li_hide2{
            display: none;
        }
        .mob_nav_li_hide1{
            rotate: 45deg;
            position: relative;
            top: 2px;
            left: 0;
        }
        .mob_nav_li_hide3{
            rotate: -45deg;
            position: relative;
            top: -4px;
            left: 0;
        }
    }
}
}
.nav_arro_btn{
    border: none;
    background-color: transparent;
    margin-right: 4px;
    padding: 0 10px;
    &:active{
        outline: 1px dashed black;
    }
    .li_arro{
        width: 10px;
        height: 1px;
        background-color: black;
        margin: 5px;
        list-style: none;
        position: relative;
    }
    .liarro1{
        top: 3.7px;
        rotate: -45deg;
    }
    .liarro2{
        width: 15px;
        top: 1px;
        left: 1.7px;
    }
    .liarro3{
        rotate: 45deg;
        top: -1.7px;
    }
}
.mob_nav_hide{
    display: none;
}
.search_hid{
    position: absolute;
    display: none;
    top: 13px;
    right: 40px;
    width: 80%;
    input{
        width: 80%;
        height: 35px;
        border: none;
        outline: 1px solid black;
        padding-left: 10px;
        &:active{
            outline: 2px solid blue;
        }
    }
    button{
        height: 35px;
        padding: 0 10px;
        margin-left: 5px;
        border: none;
        outline: 1px solid black;
    }
}
.left_nav_list_hides{
    // display: none;
    position: absolute;
    top: 55px;
    right: 30%;
    cursor: pointer;
    .left_nav_list_hide{
        list-style: none;
        padding: 20px 65px 20px 20px;
        background-color: #e6e6e6;
        display: flex;
        flex-direction: column;
        color: $header_font_color;
        font-size: $header_font_size;
        font-family: $header_font;
        font-weight: 400;
        &:hover{
            background-color: #bcbcbc;
            text-decoration: underline;
        }
    }
}
.mob_search_inp{
    position: absolute;
    top: 10px;
    left: 4px;
    width: 99%;
    display: flex;
    padding: 0 2%;
    input{
        width:100%;
        height: 35px;
        padding-left: 10px;
    }
    button{
        height: 35px;
    }
}
.mobile_navs{
    width: 100%;
    // height: 800px;
    background-color: #F2F2F2;
    position: absolute;
    @at-root{
        .mob_nav_li1{
            font-family: $header_font;
            width: 100%;
            list-style: none;
            cursor: pointer;
            p{
            padding: 15px;
            margin: 2px 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.066);
            &:active{
                outline: 1px dashed black;
                }
            }
            @at-root{
                .first_mobi_nav_ul2{
                    // padding-top: 20px;
                    padding-left: 25px;
                }
            }
        }
    }
}
.mob_nav_li1_after::before{
    @include header_mobile_nav(30px,90px);
}
.mob_nav_li2_after::before{
    @include header_mobile_nav(30px,125px);
}
.mob_nav_li3_after::before{
    @include header_mobile_nav(30px,125px);
}
.mob_nav_li4_after::before{
    @include header_mobile_nav(30px,90px);
}
.mob_nav_li5_after::before{
    @include header_mobile_nav(30px,130px);
}
.mob_nav_li6_after::before{
    @include header_mobile_nav(30px,90px);
}

.mobi_nav_ul2_sh,.mobi_nav_ul3_sh,.mobi_nav_ul4_sh,.mobi_nav_ul5_sh,.mobi_nav_ul6_sh,.mobi_nav_ul7_sh{
    display: block;
}
.mobi_nav_ul2_hi,.mobi_nav_ul3_hi,.mobi_nav_ul4_hi,.mobi_nav_ul5_hi,.mobi_nav_ul6_hi,.mobi_nav_ul7_hi{
    display: none;
}

.mobile_navs_show{
    display: block;
}
.mobile_navs_hide{
    display: none;
}
.all_micro_nav{
    position: absolute;
    // top: 0;
    right: 70px;
    .site_map{
        width: 100%;
        background-color: #E6E6E6;
        position: relative;
        h4{
            text-align: center;
            padding: 10px 0;
            font-family: $header_font;
            color: rgba(0, 0, 0, 0.606);
            font-size: $header_font_size;
            font-weight:400;
            &:hover{
                text-decoration: underline;
            }
            &::after{
                position: absolute;
                // margin: auto;
                top: 16px;
                right: 10%px;
                bottom: 10%;
                content: "";
                width: 8px;
                height: 8px;
                transform: rotate(-45deg);
                border-right: 1px solid black;
                border-bottom: 1px solid black;
            }
        }
    }
    .all_cata{
        display: flex;
        list-style: none;
        background-color: #F2F2F2;
        .software{
            list-style: none;
            padding: 10px;
            h4{
                padding-bottom: 10px;
                font-family: $header_font;
                color: rgba(0, 0, 0, 0.606);
                font-size: $header_font_size;
                font-weight: bold;
            }
            ul{
                padding-top: 5px;
                padding-right: 10px;
                li{
                    list-style: none;
                    padding: 10px 5px 20px 0;
                    font-family: $header_font;
                    font-size: $header_font_size;
                    text-align:start;
                    a{
                        text-decoration: none;
                        color: rgba(0, 0, 0, 0.833);
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    &:active{
                        outline: 1px dashed black;
                    }
                }
            }
        }
    }
}
.all_microsoft_sh{
    display: block;
}
.all_microsoft_hi{
    display: none;
}
/* Header End */