// color section //

$offer_color: #6B0E34;
$header_font_color:#262626;
$primary_font_color: #000;
$secend_font_color:#FFFFFF;

// font-family // 

$header_font: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;

// font-size //

$header_font_size: 13px;
$offer_font_size:2.3125rem;
$body_font_size:1rem;